$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-smallest2: 28.125em; // 450px
$bp-min: 21.875em; // 350px

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-min) {
        font-size: 40%;
    }
}

body {
    background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-dark), to($color-primary-light));
    background-image: -webkit-linear-gradient(left top, $color-primary-dark, $color-primary-light);
    background-image: -o-linear-gradient(left top, $color-primary-dark, $color-primary-light);
    background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    min-width: 285px;

    @media only screen and (max-width: $bp-medium) {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    @media only screen and (max-width: $bp-min) {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
