body {
    font-family: 'Lato', sans-serif;
    /* font-size: 16px; */
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-1;
}

.heading-title {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // -webkit-background-clip: text;
    -webkit-text-stroke: 0.4px $color-grey-dark-1;
    color: white;
    letter-spacing: 2px;
    transition: all 0.2s;
    cursor: default;

    &:hover {
        transform: scale(1.1);
        text-shadow: 0.5rem 1rem 2rem $color-shadow-medium;
    }
}

.heading-secondary {
    font-size: $default-font-size * 3;
    // color: $color-grey-dark-3;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
    background-blend-mode: multiply, multiply;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    line-height: 1.2;
}

.heading-tertiary {
    font-size: $default-font-size * 2;
    color: #fdfbfb;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.heading-quad {
    font-size: $default-font-size * 2;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.paragraph {
    font-size: $default-font-size;
    margin-top: 1rem;
    color: #fdfbfb;
}

.link {
    color: $color-white;
}

.small-text {
    font-size: $default-font-size * 0.7;
}

.clickable {
    cursor: pointer;
    transition: all 0.2s;
}

.clickable:hover .link {
    color: $color-primary;
    transition: all 0.2s;
}
