$color-primary: #22c790;
$color-primary-light: #43cea2;
$color-primary-dark: #185a9d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-dark-1: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #ffffff;
$color-black: #000000;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$color-shadow-very-low: rgba($color-black, 0.1);
$color-shadow-low: rgba($color-black, 0.15);
$color-shadow-medium: rgba($color-black, 0.2);
$color-shadow-high: rgba($color-black, 0.4);
$color-shadow-very-high: rgba($color-black, 0.5);

$default-font-size: 1.6rem;
