$color-primary: #22c790;
$color-primary-light: #43cea2;
$color-primary-dark: #185a9d;
$color-primary-medium: #3b8ee0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: rgb(221, 221, 221);
$color-grey-dark-1: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2bc0e4;
$color-tertiary-dark: #5643fa;

$color-white: #ffffff;
$color-black: #000000;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$shadow-right: 1rem 0 0.5rem -0.2rem rgba(0, 0, 0, 0.1);
$shadow-right-dark: 0.3rem 0rem 0.4rem 0.15rem rgba(0, 0, 0, 0.2);

$color-gradient-1: linear-gradient(to right, $color-primary-medium, $color-tertiary-light);
$color-gradient-2: linear-gradient(to top, $color-grey-dark-1, $color-grey-dark-2);
$color-gradient-3: linear-gradient(to bottom, rgba($color-grey-dark-2, 0.5), rgba($color-grey-light-3, 0.5));
$color-gradient-4: linear-gradient(to top, $color-primary, $color-primary-light);

$color-shadow-very-low: rgba($color-black, 0.1);
$color-shadow-low: rgba($color-black, 0.15);
$color-shadow-medium: rgba($color-black, 0.2);
$color-shadow-high: rgba($color-black, 0.4);
$color-shadow-very-high: rgba($color-black, 0.5);
$color-shadow-very-high-2: rgba($color-black, 0.7);

$default-font-size: 1.5rem;
