.btn {
    background-color: $color-grey-light-1;
    border: 1px solid $color-tertiary-light;
    box-sizing: border-box;
    color: $color-tertiary-light;

    font-weight: 900;
    cursor: pointer;

    &__row {
        display: flex;
        justify-content: center;

        margin-bottom: 1rem;

        &--alert {
            background-color: $color-grey-dark-2;
            border: 1px solid $color-grey-light-1;
            color: $color-grey-light-1;
        }
    }

    &:hover {
        background-color: $color-tertiary-light;
        color: $color-white;
    }

    &__add {
        width: 4rem;
        border-radius: 8px 8px 0 0;
        padding: 0.5rem;
    }

    &__remove {
        width: 4rem;
        border-radius: 0 0 8px 8px;
        padding: 0.5rem;
    }

    &:disabled {
        background-color: $color-grey-dark-2;
        border: 1px solid $color-grey-dark-3;
        color: white;
        cursor: default;
    }
}
