.data-box {
    width: 80%;

    &__table {
        opacity: 1;
        display: block;
        min-height: 30rem;

        table {
            border-collapse: collapse;
            border-radius: 0.8rem;
            overflow: hidden;
            width: 100%;
            font-size: 1.3rem;
            box-shadow: $shadow-light;
        }

        th,
        td {
            text-align: left;
            padding: 0.5rem 1rem;
            color: $color-grey-dark-1;
        }

        tr {
            background-color: $color-grey-light-1;
        }

        tr:nth-child(even) {
            background-color: $color-white;
        }

        th {
            background-color: $color-primary;
            color: white;
        }

        button {
            border: 0;
            background-color: transparent;
            color: inherit;
            cursor: pointer;

            &:hover {
                color: $color-primary;
            }
        }

        input {
            color: inherit;
            box-sizing: border-box;
            width: 4.5rem;
            text-align: right;
        }

        .disabled {
            border: 1px solid red;
            background-color: transparent;
            color: inherit;
            text-align: left;
        }
    }

    &__chart {
        opacity: 1;
        display: none;
        min-height: 30rem;

        canvas {
            width: 100% !important;
            height: 100% !important;
        }
    }

    &__buttons {
        margin-top: 1rem;
    }
}

.btn-inline {
    color: $color-primary;
    font-size: 1.2rem;
    border: none;
    background-color: #f9f5f3;
    padding: 0.8rem 1.2rem;
    border-radius: 10rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.btn-inline svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    margin: 0 0.2rem;
}
.btn-inline span {
    margin: 0 0.4rem;
}
.btn-inline:hover {
    color: $color-primary-light;
    background-color: #f2efee;
}
.btn-inline:focus {
    outline: none;
}

.results__btn--prev,
.likes__btn--prev {
    float: left;
    flex-direction: row-reverse;
}
.results__btn--next,
.likes__btn--next {
    float: right;
}
