.input {
    background-color: $color-white;
    border: 1px solid $color-primary-medium;
    border-top: 0;
    border-bottom: 0;
    color: $color-grey-dark-1;
    width: 4rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 0%;
    -webkit-transition: border 0.5s, box-shadow 0.5s;
    transition: border 0.5s, box-shadow 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

.alert {
    border: 1px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.5);
}
