.loader {
    margin: 5rem auto;
    text-align: center;

    svg {
        height: 5.5rem;
        width: 5.5rem;
        fill: #f59a83;
        transform-origin: 44% 50%;
        animation: rotate 1.5s infinite linear;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
