.slider-type {
    width: 10rem;
    height: 2rem;
    margin-bottom: 4rem;

    &__switch {
        display: inline-block;
        height: 100%;
        position: relative;
        width: 100%;

        & input {
            display: none;
        }
    }

    &__slider {
        background: $color-gradient-3;
        border-radius: 1rem;
        border: 1px solid rgba($color-grey-dark-2, 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        transition: 0.4s ease-out;
        cursor: pointer;

        &:before {
            content: '';
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            left: -1px;
            top: -3px;
            background: $color-gradient-4;
            border: 1px solid rgba($color-grey-dark-1, 0.2);
            border-radius: 50%;
            transition: 0.4s ease-out;
        }
    }

    &__legend {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }
}

input:checked + .slider-type__slider:before {
    transform: translateX(7.5rem);
}
