.timer {
    flex: 1;

    height: 100%;
    padding: 5rem;
    background: $color-gradient-2;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__auto {
        background-color: $color-white;
        border: 5px solid $color-tertiary-light;
        color: $color-tertiary-light;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        position: relative;
        cursor: pointer;
        font-size: 2.5rem;

        display: flex;

        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }

    &__auto-pause {
        border: 5px solid $color-white;
        background-color: $color-tertiary-light;
        color: $color-white;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-top: 2rem;
        position: relative;

        display: flex;

        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }

    &__text {
        font-size: inherit;
        color: inherit;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        line-height: 2rem;

        &--margin {
            position: absolute;
            top: 20% !important;
        }
    }

    &__info {
        font-size: $default-font-size * 0.8;
        position: absolute;
        top: 60%;
        color: inherit;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        line-height: 1.5rem;

        &--margin {
            position: absolute;
            top: 60% !important;
        }
    }

    &__counter {
        margin-top: 1rem;
        font-size: $default-font-size;

        display: flex;
        flex-direction: row;
    }

    &__timer--save {
        margin-top: 1rem;
        padding: 0.5rem 3rem;
        border-radius: 8px;
    }
    &__timer--stop {
        margin-top: 1rem;
        padding: 0.5rem 3rem;
        border-radius: 8px;
        margin-right: 3px;
    }

    &__input--save {
        margin-top: 1rem;
        padding: 0.5rem 3rem;
        border-radius: 8px;
    }

    &__portion--save {
        margin-top: 1rem;
        padding: 0.5rem 3rem;
        border-radius: 8px;
    }

    &__flush--save {
        margin-top: 1rem;
        padding: 0.5rem 3rem;
        border-radius: 8px;
    }

    &__added {
        color: $color-primary;
        font-size: $default-font-size;
        text-align: center;
        display: none;
        opacity: 0;
        transition: all 1.5s;
    }

    &__error {
        color: $color-alert;
        font-size: $default-font-size;
        text-align: center;
        display: none;
        opacity: 0;
        transition: all 1.5s;
    }

    &__boxes {
        display: flex;
        flex-direction: column;

        position: relative;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        span {
            position: absolute;
            top: 35%;
            left: 70%;
            font-size: $default-font-size * 0.7;
        }
    }

    &__portion {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__option {
        background-color: $color-white;
        border: 3px solid $color-tertiary-light;
        color: $color-tertiary-light;
        width: 10rem;
        height: 10rem;
        border-radius: 2rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
        position: relative;
        cursor: pointer;
        font-size: $default-font-size;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: all 0.8s;

        &:hover {
            border: 3px solid $color-white;
            background-color: $color-tertiary-light;
            color: $color-white;
            transition: all 0.8s;
        }

        &--active {
            border: 3px solid $color-white;
            background-color: $color-tertiary-light;
            color: $color-white;
            transition: all 0.8s;
        }
    }

    &__arrow {
        width: 3rem;
        height: 4rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: #fff;
        -webkit-box-shadow: $shadow-right-dark;
        box-shadow: $shadow-right-dark;
        position: absolute;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 2rem;
            position: absolute;
            color: $color-grey-dark-1;
        }
    }
}
