.water-animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    &__type {
        color: $color-primary;
        text-shadow: 0.5rem 1rem 2rem $color-shadow-medium;
        text-transform: uppercase;
    }

    &--small {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background: $color-gradient-3;

        @media only screen and (max-width: $bp-small) {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            height: 100%;
            padding: 5rem;
        }
    }

    &--big {
        position: relative;
    }
}

.tapWater {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    margin-top: -10rem;
    margin-left: -3.7rem;
    width: 5rem;
    height: 5.5rem;
    z-index: 200;

    @media only screen and (max-width: $bp-small) {
        display: none;
    }
}

.info {
    -ms-flex-item-align: center;
    align-self: center;

    position: relative;
    background-color: rgba($color-white, 0.7);
    -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    margin-top: -3rem;
    z-index: 2;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    &--small {
        width: 10rem;
        height: 7rem;
        border: 2px solid white;
        border-radius: 2rem;

        @media only screen and (max-width: $bp-small) {
            margin-top: 5rem;
        }
    }

    &--big {
        width: 15rem;
        height: 25rem;
        border: 1px solid $color-grey-dark-2;
        border-radius: 1rem;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        margin-bottom: 5rem;
    }

    &__text {
        width: 100%;
        text-align: center;
        position: absolute;
        z-index: 100;

        &--small {
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            font-size: $default-font-size / 1.5;
            color: $color-grey-dark-3;
        }

        &--big {
            font-size: $default-font-size * 3;
            color: rgba($color-grey-dark-3, 0.7);
            text-shadow: 0.2rem 0.2rem 1.5rem $color-shadow-very-high-2;
            -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: rgba($color-grey-dark-3, 0.8);
            // bottom: 42%;
            bottom: 0%;
            z-index: 300;
            -webkit-transition: $transitionText;
            -o-transition: $transitionText;
            transition: $transitionText;

            span {
                color: inherit;
                font-size: $default-font-size * 1.2;
                -webkit-text-stroke-width: 0.3px;
                -webkit-text-stroke-color: rgba($color-black, 0.5);
            }

            &-alert {
                -webkit-transition: $transitionText, color 0.5s;
                -o-transition: $transitionText, color 0.5s;
                transition: $transitionText, color 0.5s;
                color: rgba(255, 0, 0, 0.8);
            }
        }
    }
}
.line {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    width: 22.5rem;
    height: 37.5rem;
    position: absolute;
    top: -9rem;

    &__info {
        width: 24rem;
        height: 1px;
        background-color: rgba($color-grey-dark-3, 1);
        position: absolute;
        left: -6%;
        z-index: 1;

        span {
            position: absolute;
            left: -1rem;
            z-index: 1000;
            color: $color-white;
            bottom: 0;
            font-size: $default-font-size * 0.9;
        }

        &--1 {
            bottom: 25%;
        }
        &--2 {
            bottom: 50%;
        }
        &--3 {
            bottom: 75%;
        }
    }
}

.wave {
    width: 15rem;
    height: 15rem;
    position: absolute;
    // background: lightblue;
    left: -30%;
    bottom: -180%;
    border-radius: 22%;
    -webkit-transition: all 1.4s linear;
    -o-transition: all 1.4s linear;
    transition: all 1.4s linear;
    animation: waves 3.4s linear reverse infinite;
    -webkit-transform: translateZ(0);

    &__1 {
        width: 30rem;
        height: 30rem;
        left: -40%;
        bottom: -125%;
        // bottom: -50%;
        -webkit-transition: $transitionWave;
        -o-transition: $transitionWave;
        transition: $transitionWave;
        -webkit-animation: waves 2.4s linear infinite;
        animation: waves 2.4s linear infinite;
        z-index: 200;
    }
    &__2 {
        width: 30rem;
        height: 30rem;
        left: -50%;
        bottom: -125%;
        // bottom: -50%;
        -webkit-transition: $transitionWave;
        -o-transition: $transitionWave;
        transition: $transitionWave;
        -webkit-animation: waves 3.4s linear infinite;
        animation: waves 3.4s linear infinite;
        z-index: 200;
    }
    &__3 {
        width: 30rem;
        height: 30rem;
        left: -60%;
        bottom: -125%;
        // bottom: -50%;
        -webkit-transition: $transitionWave;
        -o-transition: $transitionWave;
        transition: $transitionWave;
        -webkit-animation: waves 4.4s linear infinite;
        animation: waves 4.4s linear infinite;
        z-index: 200;
    }
    &__4 {
        width: 30rem;
        height: 30rem;
        left: -30%;
        bottom: -125%;
        // bottom: -50%;
        -webkit-transition: $transitionWave;
        -o-transition: $transitionWave;
        transition: $transitionWave;
        -webkit-animation: waves 4.4s linear infinite;
        animation: waves 4.4s linear infinite;
        z-index: 200;
    }
    &__5 {
        width: 30rem;
        height: 30rem;
        left: -35%;
        bottom: -125%;
        // bottom: -50%;
        -webkit-transition: $transitionWave;
        -o-transition: $transitionWave;
        transition: $transitionWave;
        animation: waves 3.4s linear reverse infinite;
        z-index: 200;

        @media only screen and (max-width: $bp-smallest2) {
            display: none;
        }
    }
}

.transparentblue {
    background: -webkit-gradient(linear, left top, right top, from(rgba($color-tertiary-light, 0.4)), to(rgba($color-primary-medium, 0.3)));
    background: -webkit-linear-gradient(left, rgba($color-tertiary-light, 0.4), rgba($color-primary-medium, 0.3));
    background: -o-linear-gradient(left, rgba($color-tertiary-light, 0.4), rgba($color-primary-medium, 0.3));
    background: linear-gradient(to right, rgba($color-tertiary-light, 0.4), rgba($color-primary-medium, 0.3));
}

.transparentwhite {
    background: -webkit-gradient(linear, right top, left top, from(rgba($color-white, 0.4)), to(rgba($color-tertiary-light, 0.4)));
    background: -webkit-linear-gradient(right, rgba($color-white, 0.4), rgba($color-tertiary-light, 0.4));
    background: -o-linear-gradient(right, rgba($color-white, 0.4), rgba($color-tertiary-light, 0.4));
    background: linear-gradient(to left, rgba($color-white, 0.4), rgba($color-tertiary-light, 0.4));
}

.lightblue {
    background: -webkit-gradient(linear, left top, right top, from($color-primary-medium), to($color-tertiary-light));
    background: -webkit-linear-gradient(left, $color-primary-medium, $color-tertiary-light);
    background: -o-linear-gradient(left, $color-primary-medium, $color-tertiary-light);
    background: linear-gradient(to right, $color-primary-medium, $color-tertiary-light);
}

.drops {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 12px;
    height: 12px;

    position: absolute;
    top: 48%;
    border-radius: 1em;
    border-top-right-radius: 0.2em;
    opacity: 0;
    -webkit-animation: drops 2.5s ease-in-out infinite;
    animation: drops 2.5s ease-in-out infinite;
    -webkit-box-shadow: $shadow-dark;
    box-shadow: $shadow-dark;
    z-index: 100;

    @media only screen and (max-width: $bp-medium) {
        top: 33em;
    }

    @media only screen and (max-width: $bp-small) {
        display: none;
    }
}
.drop2 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.drop3 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

@-webkit-keyframes drops {
    0% {
        width: 6px;
        height: 6px;
        opacity: 0.2;
        -webkit-transform: translateY(0) rotate(-40deg);
        transform: translateY(0) rotate(-40deg);
    }

    15% {
        opacity: 1;
    }

    100% {
        width: 12px;
        height: 12px;
        -webkit-transform: translateY(22em) rotate(-40deg);
        transform: translateY(22em) rotate(-40deg);
    }
}

@keyframes drops {
    0% {
        width: 6px;
        height: 6px;
        opacity: 0.2;
        -webkit-transform: translateY(0) rotate(-40deg);
        transform: translateY(0) rotate(-40deg);
    }

    15% {
        opacity: 1;
    }

    100% {
        width: 12px;
        height: 12px;
        -webkit-transform: translateY(22em) rotate(-40deg);
        transform: translateY(22em) rotate(-40deg);
    }
}

@-webkit-keyframes waves {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        border-radius: 30%;
    }

    45% {
        border-radius: 39%;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-radius: 30%;
    }
}

@keyframes waves {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        border-radius: 30%;
    }

    45% {
        border-radius: 39%;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-radius: 30%;
    }
}

@-webkit-keyframes waves-effect2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        border-radius: 30%;
    }

    45% {
        border-radius: 39%;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-radius: 30%;
    }
}

@keyframes waves-effect2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        border-radius: 30%;
    }

    45% {
        border-radius: 39%;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-radius: 30%;
    }
}
