.header {
    &__title {
        margin: 0 auto;
        padding: 2rem 2rem 6rem 2rem;
        line-height: 0.9;
        font-weight: 700;
        color: $color-grey-dark-1;
        font-size: $default-font-size * 1.5;
        text-align: right;
        text-transform: uppercase;
        background-repeat: repeat-x;
        -webkit-background-clip: text;
        animation: animate 15s linear infinite;

        &--left {
            color: inherit;
            letter-spacing: 0.3rem;
        }

        &--right {
            color: rgba($color-tertiary-light, 0.7);
            letter-spacing: 0.3rem;
        }

        &--bottom {
            color: inherit;
            font-weight: 400;
            font-size: $default-font-size * 1.3;
        }
    }
}

@keyframes animate {
    0% {
        background-position: left 0px top 0px;
    }

    40% {
        background-position: left 150px top 0px;
    }

    60% {
        background-position: left 300px top 0px;
    }

    80% {
        background-position: left 150px top 0px;
    }

    100% {
        background-position: left 0px top 0px;
    }
}
